table{
    border-collapse: collapse;
    border:double rgb(140, 21, 196);
    text-align: center;
    margin-bottom: 20px;
    
}

td,th{
    border:2px solid;
}

caption{
    color: rgb(140, 21, 196);
    font-weight:bold;
}

th{
    font-weight:bold;
    background-color: lightblue;

}

td{
    inline-size:20rem;
}

table:nth-child(2) td:last-of-type{
    inline-size:6rem;
}

table td:first-of-type{
    inline-size:8rem;
}