body > * {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

#pkmn{
    width: 300px;
    height: 300px;

}

#pkmn > img{  
    transform: scale(0.75);
    pointer-events: none;
}

.hidden { filter: brightness(0); }
    

#pkmnName{
    font-family : 'Calibri','Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    /* font-weight: bolder; */

}

h1, #submit, .scoreDisplay{
    font-family : myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(Pokemon.ttf);
 }