$grey : #e5e5e5;
$oceanBlue :#1bbacc;
$darkBlue :#142752;
// no need for black&white


$fontTitle:'titleFont','Courier New', Courier, monospace;
$fontText:'titleFont','Courier New', Courier, monospace; // todo

